
.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title h1 {
  margin: 0;
}


input {
  text-align: center;
  width: 170px;
}

div {
  display: flex;
  flex-direction: column;
  
}

button {
  margin: 6px;
  width: 140px;
  height: 32px;
  
  align-items: center;
  justify-content: space-between;

  line-height: 0;
}

footer {
  margin-top: 370px;
  background: gray;
  color: white;

  height: 2rem;
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}
